* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(117, 102, 91);
    font-family: sfProDisplay;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: sfProDisplay;
    src: url('../fonts/SF-Pro-Display-Light.otf') format('otf'),
    url('../fonts/sf-pro-display-light-webfont.woff') format('woff'),
    url('../fonts/sf-pro-display-light-webfont.woff2') format('woff2');
}

.container {
    max-width: 525px;
    margin: 0 auto;
    padding: 20px 0;
}

.fadeOut{
    opacity: 0;
    transition: 1s;
}

.checked {
    text-decoration: line-through;
}

@media only screen and (max-width: 580px) {
    .container {
        width: 95%;
        
    }
}