* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(117, 102, 91);
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    background: none;
    border: none;
}

.container {
    width: 525px;
    margin: 0 auto;
    padding: 20px 0;
}

.fadeOut{
    opacity: 0;
    transition: 1s;
}