.button{
    border: 1px solid transparent;
    padding: 8px 50px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    &-orange{
        background: $btn-orange;
        color: white;
    }
    &-green{
        background: $btn-green;
        color: #544236;
    }
}