.background-color{
    height: 100vh;
    background: rgba(242, 240, 196, .7); 
}

.home{
    @include display_flex-column(column, center, center);
    height: 100%;
    &__img{
        width: 260px;
    }
    &__img-mini-app{
        padding: 40px 0;
    }
    &__option{
        display: flex;
        flex-direction: column;
        &-signup{
            margin-bottom: 5px;
        }
    }   
}