.signup{
    height: 100%;
    @include display_flex-column(column, center, center);
    &__logo{
        width: 250px;
    }
}
.register{
    @include display_flex-column(column, normal, center);
    background: rgb(249, 244, 194);
    height: 450px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px #888888;
    a{
        align-self: flex-start;
        margin-left: 15px;
    }
    &__back{
        width: 12px;
    }
    &__camera{
        width: 60px;
        margin: 25px 0 15px 0;
    }
    &__create{
        font-size: 22px;
    }
    &__form{
        @include display_flex-column(column, center, normal);
        span{
            color: red;
            margin-left: 12px;
        }
    }
    &__button{
        align-self: center;
        margin-top: 30px;
        a{
            margin: 0;
            color: white;
        }
    }
}