.criar-lista{
    &__input{
        width: 390px;
        &-list-name {
            margin: 10px 0 auto 0;
            border: 1px solid orange;
            border-radius: 5px;
            width: 525px;
            height: 30px;
            padding-left: 10px;
        }
    }
    &__form{
        span{
            color: red;
            margin-left: 11px;
        }
    } 
    &__task-name {
        margin: 15px 0 auto 0;
    }
    &__btn{
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
    }
}