.create-list{
    &__form{
        span{
            color: red;
            margin-left: 11px;
        }
        input {
            width: 485px;
        }
    } 
    &__task-name {
        margin: 15px 0 auto 0;
    }
    &__btn{
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
    }
}