.criar-lista{
    &__input{
        width: 480px;
    }
    &__btn{
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
    }
    &__cancel{
        background: rgb(211, 206, 61);
        color: rgb(84, 66, 54);
        width: 165px;
    }
    &__create{
        background: rgb(239, 119, 52);
        color: white;
        width: 165px;
    }
}