.navbar{
    background: rgb(239, 241, 165);
    padding: 20px;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 525px;
        margin: 0 auto;
    }
    &__logo{
        height: 25px;
    }
    &__user{
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
            height: 40px;
        }
    }
}

.container-tasks{
    // width: 440px;
    margin: 0 auto;
}

.box{
    border-radius: 5px;
    border: 1px solid $border-green;
}

.list__title{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.lists{
    &__item{
        padding: 10px;
        border-bottom: 1px solid $border-green;
        &-title{
            display: flex;
            justify-content: space-between;
        }
        &-name{
            display: flex;
            align-items: center;
            img{
                height: 15px;
                margin-right: 10px;
            }
        }
        &-add-task{
            // width: 440px;
        }
        &-tasks{
            .list{
                &__task{
                    padding: 10px 5px;
                    &-name{
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 0;
                        border-bottom: 1px solid $border-green;
                        div{
                            display: flex;
                            align-items: center;
                        }
                    }
                    input{
                        margin-right: 5px;
                    }
                }
                &__subtask{
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0 0 10px;
                    div{
                        display: flex;
                        align-items: center;
                    }
                }
                &__add-subtask{
                    margin-left: 10px;
                }
            }
        }
    }
    .item-3{
        border-bottom: none;
    }
    &__input-add-task{
        // width: 400px;
    }
    &__input-add-subtask{
        // width: 380px;
    }
}

.list__task-delete {
    cursor: pointer;
    width: 11px;
    height: 15px;
}

.list__subtask-delete{
    cursor: pointer;
    width: 11px;
    height: 15px;
}

